@import url(reset.css);
@import url(fonts.css);
@import url(title.css);

body {
  font-family: 'Lato', serif;
  color: #2f302c;
  font-size: 16px;
}

.wrapper {
  position: relative;
  overflow: clip;
}

[class*='__container'] {
  max-width: 1422px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*---------HEADER-----------*/
.header {
  padding: 60px 0;
}

.header__block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 30px 80px;
}

.header__logo {
}
.header__image {
}
.header__search {
}
.search {
}
.search__form {
  position: relative;
}
.search__form:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;

  left: 0;
  top: 50%;
  transform: translateY(-50%);

  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-size: contain;

  pointer-events: none;
}
.search__input {
  width: 100%;
  padding: 12px 0 12px 32px;

  border: none;
  border-bottom: 1px solid #d4d4d4;

  outline: none;
}
.search__input::placeholder {
  color: #7e7f7c;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;

  transition: all 0.3s;
}
.search__input:focus::placeholder {
  opacity: 0;
}
.search__input:focus {
  border-bottom: 2px solid #7bb5eb;
}
.header__list {
  flex-grow: 1;
}
.header__items {
  display: flex;

  gap: 12px 44px;
}
.header__item {
}
.header__link {
  border-bottom: 2px solid transparent;
}
.header__link:hover {
  border-bottom: 2px solid #7bb5eb;
}
.header__actions {
}
.actions {
}
.actions__items {
  display: flex;

  gap: 12px 44px;
}
.actions__item {
  position: relative;
  padding-left: 24px;
}
.actions__item::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;

  left: 0;
  top: 50%;
  transform: translateY(-50%);

  pointer-events: none;
}
.actions__item--heart {
  background-image: url('../img/heart.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.actions__item--bag {
  background-image: url('../img/bag.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.actions__link {
  border-bottom: 2px solid transparent;
}
.actions__link:hover {
  border-bottom: 2px solid #7bb5eb;
}
@media (width <= 525px) {
  .header {
    padding: 30px 0;
  }
  .header__block {
    justify-content: center;
  }
  .header__list {
    flex-grow: 0;
  }
}
@media (width <= 425px) {
  .header__block {
    gap: 20px 80px;
  }
  .header__items {
    gap: 12px 24px;
  }
}

/*---------------HERO-------------*/
.hero {
  position: relative;

  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 82px;

  min-height: 500px;
  align-content: center;
}
.hero__image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
.hero__container {
  height: 100%;
}
.hero__content {
  max-width: 650px;
  margin-left: auto;
  
}
.hero__heading {
  display: flex;
  flex-direction: column;
}
.heading {
}
.heading__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
}
.heading__title:not(:last-child) {
  margin-bottom: 20px;
}
.heading__main-title {
  position: relative;
  max-width: 518px;
  font-family: Montserrat;
  font-size: 96px;
  font-weight: 800;
  line-height: 1;
}
.heading__main-title:not(:last-child) {
  margin-bottom: 52px;
}
.heading__main--line {
  position: relative;
  max-width: 59.5%;
  top: -45px;

  height: 1px;
  background-color: #000;
}

.heading__info {
  max-width: 374px;
  color: #7e7f7c;
  font-weight: 500;
  line-height: 1.25;
}
@media (width <= 1044px) {
  .heading__info {
    max-width: none;
  }
}
@media (width <= 585px) {
  .hero {
    padding: 40px 0;
    min-height: auto;
  }
  .heading__title {
    font-size: 16px;
  }
  .heading__main-title {
    font-size: 56px;
  }
  .heading__main-title:not(:last-child) {
    margin-bottom: 22px;
  }
  .heading__main--line {
    max-width: 39.5%;
    top: -15px;
  }
}
@media (width <= 375px) {
  .hero {
    padding: 40px 0;
    min-height: auto;
  }
  .heading__title:not(:last-child) {
    margin-bottom: 15px;
  }

  .heading__main-title {
    font-size: 40px;
  }

  .heading__main--line {
    max-width: 39.5%;
  }
}
